.ui.inverted.dimmer {
  background-color: rgb(255 255 255 / 0%) !important;
}

.ui.segment {
  background: rgb(255 255 255 / 0%) !important;
  background-color: rgb(255 255 255 / 0%) !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
